body{
    margin: 0;
    padding: 0;
    background-color: grey;
}
.um, .dois, .tres, .quatro {
    height: 250px;
    width: 250px;
    background-color: black;
    position: absolute;
}

.dois {
    top: 0;
    right: 0;
}

.tres {
    bottom: 0;
}

.quatro{
    bottom:0;
    right: 0;
}